@font-face {
    font-family: sora;
    src: url("/public/media/font/Sora-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/public/media/font/Inter28pt.ttf") format("truetype");
    font-style: normal;
}

.engagement-model {
    width: 100%;
    max-width: 1440px;
    height: auto;
    gap: 130px;
    padding: 140px 106px 140px 106px;

}

@media (max-width: 768px) {
    .engagement-model {
        gap: 50px;
        padding: 5rem;
    }

}

@media (max-width: 576px) {
    .engagement-model {
        gap: 20px;
    }
}

.engagement-item {
    display: flex;
    flex-direction: row;
    max-width: 1228px;
    min-height: 520px;
    padding: 40px;
    gap: 40px;
    border-radius: 50px;
    border: 1px solid #E3E3E3
}

.engagement-text {
    width: 100%;
    height: 315.14px;
    gap: 32px;
    opacity: 0px;

}

.engagement-text>h3 {
    font-family: Sora;
    font-size: 35px;
    font-weight: 600;
    line-height: 45.5px;
    letter-spacing: -0.04em;
    text-align: left;

}

.engagement-text>p {

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #7D7D7D;

}

.engagement-logos {

    width: 100%;
    height: 61.14px;
    gap: 16px;

}

.partnerLogo {
    width: 95.12px;
    height: 29.14px;
}

.engagement-img {

    width: 100%;
    max-width: 692px;
    height: auto;
    aspect-ratio: 692 / 440;
    gap: 0px;
    transition: transform 0.3s ease;
    transform: scale(1.1);

}

.engagement-img-container {
    overflow: hidden;


}

.engagement-img:hover {
    transform: scale(1.2);
}

/* ----------------engagement style end----------- */
.approach-container {
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 140px 106px 140px 106px;
    gap: 100px;
    box-sizing: border-box;
}
 
  .ApproachItems {
    /* max-width: 1440px; */
    width: 100%;
    max-height: 574px;
    max-width: 1440px;
    padding: 0px 106px 0px 106px;
 
}  

 
.approach-container {
    max-width: 1440px;
    width: 100%;
    max-height: 1010px;
    padding: 140px 106px 140px 106px;
    box-sizing: border-box;
}

 

.approach-item {
    /* width: 383px; */
    height: 574px;
    /* padding: 40px; */
    gap: 32px;
    border-radius: 20px;
    border: 1px;
    opacity: 0px;

}
/* .card-img-top{
    width: 302.67px;
height: 146px;
gap: 0px;
opacity: 0px;

} */
.approach-item>.card {
    padding: 40px;
}

.ApproachLink {
    width: 100%;
    height: 136px;
    gap: 24px;
}

.ApproachLink>a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #522076;
}

@media screen and (max-width:1440px) {

    .approach-container{
        height: fit-content;
    }
    
}
/* -------------approach style end----------------------- */
 .industry-container{
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 140px 106px 140px 106px;
    gap: 100px;
    /* background-color: aqua; */
 }
 .industryItems{
    width: 100%;
    /* background-color: yellow; */
    height: auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 40px;
 }
 .industryItems >div{
     
    /* background-color: #f22076; */
    width: 277px;
    height: 260px;
    padding: 40px;
    gap:10px;
    border-radius: 30px ;
    border: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
 }
 .industryTitle{
    font-family: Sora;
    font-size: 26px;
    font-weight: 600;
    line-height: 33.8px;
    letter-spacing: -0.04em;
    text-align: left;
 }
 .industryIcon{
    display: flex;
    width: 64px;
    height: 64px;
    justify-self:flex-end;
    align-self: end;
 }
 
 
/* Medium screens (Tablets and smaller laptops) */
@media (max-width: 1024px) {
    .industry-container {
        padding: 100px 80px; /* Decrease padding for medium devices */
        gap: 50px; /* Reduce the gap between items */
    }
}

/* Small screens (Mobile phones and smaller tablets) */
@media (max-width: 768px) {
    .industry-container {
        padding: 60px 30px; /* Further reduce padding */
        gap: 20px; /* Reduce gap for smaller screens */
    }
}

/* Extra small screens (Very small phones) */
@media (max-width: 480px) {
    .industry-container {
        padding: 40px 20px; /* Minimal padding for small devices */
        gap: 10px; /* Minimal gap */
    }
}
/* ------------------------------------------industry style end------------- */
.questionSection{
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 140px 106px 140px 106px;
    gap: 120px;
}
